*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(45deg, #2474ff, #24e5ff);
    color: #a770ff;
    position: relative;
}

.child-content{
    width: 800px;
    height: 240px;
    background: linear-gradient(80deg, #320090, #5d1d70);
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(40px);
}

.child-content::before{
    content: "";
    padding: 70px;
    border-radius: 20px;
    background: linear-gradient(50deg, #2474ff, #4e00df);
    top: -50px;
    left: -30px;
    position: absolute;
}

.child-content::after{
    content: "";
    padding: 60px;
    border-radius: 10px;
    background: linear-gradient(45deg, #4e00df, #6c02a5);
    right: -60px;
    bottom: -80px;
    position: absolute;
    margin: 20px;
}

.calendar {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

#day{
    position: absolute;
    top: -50px;
    margin-left: -15px;
    color: #46a2ff;
    filter: brightness(2);
}

#date{
    position: absolute;
    font-size: 20px;
    left: -35px;
    display: flex;
    text-wrap: nowrap;
    padding: 20px 20px;
    color: #e3a8ff;
    filter: brightness(50px);
    word-spacing: 5px
}

#date::after{
    content: "";
    position: absolute;
    padding: 1px 85px;
    background: linear-gradient(#ba6cfe, #7e005e);
    bottom: 15px;
    z-index: 1;
}

#hrs, #mins, .space{
    position: relative;
    top: 50px;
    color: #4740d6;
    filter: brightness(2);
    left: -10px;
}


#hrs::after{
    content: 'Hours';
    color: rgb(246, 90, 254);
    position: absolute;
    font-size: 14px;
    top: 60px;
    right: 1px;
    z-index: 1;
}

#mins::after{
    content: 'Minutes';
    color: rgb(246, 90, 254);
    position: absolute;
    font-size: 14px;
    top: 60px;
    right: 1px;
    z-index: 1;
}