*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(55deg, #024ac6, #3fe2f8);
    color: #a770ff;
    position: relative;
}

.child-content{
    width: 800px;
    height: 240px;
    background: linear-gradient(80deg, #5b0e72, #384ef7);
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 3s infinite bordering ease-in-out;
    backdrop-filter: blur(10px);
}

@keyframes bordering{
    0%{
        border: 3px solid #5100ff;
    }
    40%{
        border: 3px solid #0010bc;
    }
    80%{
        border: 3px solid #0029bf;
    }
    100%{
        border: 3px solid #0068d6;
    }
}

.child-content::before{
    content: "";
    padding: 70px;
    border-radius: 20px;
    background: linear-gradient(40deg, #ad1493, #4e00df);
    top: -50px;
    left: -30px;
    position: absolute;
}

.child-content::after{
    content: "";
    padding: 60px 100px;
    border-radius: 10px;
    background: linear-gradient(45deg, #6f21ff, #6c02a5);
    right: -40px;
    bottom: -60px;
    position: absolute;
}

.backdrop-bottom-left{
    padding: 80px 60px;
    position: absolute;
    background: linear-gradient(50deg, #7102e7, #c800ad);
    border-radius: 10px;
    top: 100px;
    left: -300px;
}

.backdrop-top-right{
    padding: 80px;
    position: absolute;
    background: linear-gradient(120deg, #3500a7, #d900ff);
    border-radius: 50%;
    top: -100px;
    right: -380px;
    backdrop-filter: blur(5px);
}

.calendar{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.weather{
    color: #eaff80;
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.weather-icon{
    position: absolute;
    padding: 40px 40px;
    background: url(./images/weather.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -50px;
    left: -10px;
}

#temp{
    position: absolute;
    top: 40px;
    left: 5px;
}

#city{
    position: absolute;
    transform: rotate(90deg);
    top: -10px;
    left: -60px;
}

#day{
    position: absolute;
    top: -50px;
    margin-left: -15px;
    color: #46a2ff;
    filter: brightness(2);
}

#date{
    position: absolute;
    font-size: 20px;
    left: -35px;
    display: flex;
    text-wrap: nowrap;
    padding: 20px 20px;
    color: #e3a8ff;
    filter: brightness(50px);
    word-spacing: 5px
}

#date::after{
    content: "";
    position: absolute;
    padding: 1px 85px;
    background: linear-gradient(#ba6cfe, #7e005e);
    bottom: 15px;
    z-index: 1;
    animation: 1s shrinking infinite;
}

@keyframes shrinking{
    10% {
        background: linear-gradient(20deg, #7e005e, #ba6cfe);
}
    30% {
        background: linear-gradient(40deg, #ff5dd7, #ba6cfe);
    }
    60%{
        background: linear-gradient(60deg, #ff00bf, #9524f7);
    }
    80%{
        background: linear-gradient(80deg, #a2019d, #6f02f5f9);
    }
    100%{
        background: linear-gradient(#a946ff, #7e005e);
    }
}

#hrs, #mins, .space{
    position: relative;
    top: 50px;
    color: #524af1;
    filter: brightness(2);
    left: -10px;
}


#hrs::after{
    content: 'Hours';
    color: rgb(246, 90, 254);
    position: absolute;
    font-size: 14px;
    top: 60px;
    right: 5px;
    z-index: 1;
}

#mins::after{
    content: 'Minutes';
    color: rgb(246, 90, 254);
    position: absolute;
    font-size: 14px;
    top: 60px;
    right: 1px;
    z-index: 1;
}