*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    align-items: center;
    background: linear-gradient(90deg, #00a2ff, #6f00ff);
    position: relative;
}

.child-content{
    width: 400px;
    height: 600px;
    background: linear-gradient(60deg, #59ffa9, #e2ff05);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    text-align: center;
}

.time{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
    color: #6f00ff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-150%);
}

#day{
    position: absolute;
    top: -150px;
    left: -30px;
}

#date{
    position: absolute;
    font-size: 20px;
    top: -90px;
    display: flex;
    flex-wrap: nowrap;
}

.weather{
    position: absolute;
    bottom: 190px;
    left: 150px;
    color: #f34aff;
    font-weight: bold;
}

.weather-icon{
    background: url(.././images/weather.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    position: absolute;
    top: -110px;
}

#temp{
    font-size: 40px;
    position: absolute;
    bottom: -80px;
    left: 5px;
}

#city{
    font-size: 30px;
    position: absolute;
    text-transform: uppercase;
    left: -15px;
}